<template name="home">
  
  <div class="row">
    <div class="col-md-6">
      <ol class="breadcrumb">
        {{#each breadcrumb}}
          <li><a href="/?currentDir={{ encodeUri path }}" data-path="{{ path }}">{{ name }}</a></li>  
        {{/each}}
      </ol>
      
      <div id="toolbar">
        <div class="btn-group" role="group" aria-label="...">
          <button class="btn btn-default newDir"><i class="fa fa-plus"></i> <i class="fa fa-folder"></i></button>
          {{#if curDir.owner.write}}
            <button class="btn btn-default upload"><i class="fa fa-upload"></i> <i class="fa fa-file"></i></button>
          {{/if}}
        </div>

        {{#if $.Session.get 'newDir'}}
          <input class="form-control input-xs newFolderName" placeholder="new folder"/>
        {{/if}}

        {{#if curDir.owner.write}}
          {{> UI.dynamic template='upload' data=uploadData}}
        {{/if}}
      </div>

      <div>
        <input class="form-control input-xs search" placeholder="search in {{ rootDir }}"/>
      </div>

      <table class="table table-hover table-condensed">
        <tbody>
          {{#each ls}}
            <tr class="{{#if _hide}}hide{{/if}}">
              <td>
                {{#if $eq type 'directory'}}
                  <i class="fa fa-folder"></i>
                  <a href="/?currentDir={{ encodeUri relativePath }}" data-path="{{ relativePath }}">{{name}}</a>
                {{else}}
                  <i class="fa fa-file"></i>
                  <a href="#" class="view" data-path="{{ relativePath }}">{{name}}</a>
                {{/if}}
              </td>
              <td class="file-actions">
                <a href="#" class="text-danger delete" data-path={{ relativePath }} data-type={{ type }}><i class="fa fa fa-trash-o"></i></a>
                {{#if $eq type 'file'}}
                  <a href="#" class="edit" data-path="{{ relativePath }}"><i class="fa fa-pencil"></i></a>
                  <a href="#" class="view" data-path="{{ relativePath }}"><i class="fa fa-eye"></i></a>
                {{else}}
                  <span class="text-muted">
                    <i class="fa fa-pencil"></i>
                    <i class="fa fa-eye"></i>
                  </span>
                {{/if}}
                <a href="/download?file={{ encodeUri relativePath }}" target="_blank"><i class="fa fa-download"></i></a>
              </td>
              <td class="file-size">
                <span class="pull-right text-muted">
                  {{ numeral stat.size '0[.]0 b' }}
                </span>          
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>     
    </div>
    <div class="col-md-6" id="preview">
      <div class="row">
        {{> editor}}
      </div>
    </div>
  </div>




</template>